<div>
  {{#each this}}
    <div class="card">
        <h3></h3>
        <section>
            <div class="text">
                {{comment_body}}
                
            </div>
            <div>
                {{user.name}}, {{format_date  date_created}}
            </div>
        </section>
    </div>
  {{/each}}
</div>

