<div>
  {{!-- {{#each this}} --}}
    <div class="card">
        <h3></h3>
        <section>
            <div class="text">
                {{!-- {{the body of the comment}} --}}
            </div>
            <div>
                {{!-- -{{user name goes here}}, {{format_date time comment was made}} --}}
            </div>
        </section>
    </div>
  {{!-- {{/each}} --}}
</div>

