

<div class="row">
  <div class="col-sm-6 .d-flex">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{post_name}}  {{format_date date_created}}</h5>
        <p class="card-text">{{post_body}}</p>
        <a href="#" class="btn btn-primary">edit post</a>
      </div>
    </div>
  </div>