

<div class="row">
  <div class="col-sm-6 .d-flex">
    <div class="card">
      <div class="card-body">
       <h4>{{post_name}}</h4>
        <h5 class="card-title"> by {{user.name}} on {{format_date createdAt}}</h5>
        <p class="card-text">{{post_body}}</p>
      </div>
    </div>
  </div>