<article class="post">
<h1 class="mt-4">Dashboard</h1>


<p class="lead mb-3">Welcome {{posts.0.user.name}}</p>
    {{#each posts as |post| }}
        {{> dashboard-data post}}
    {{/each}}

</article>

