<article class="post">
<h1 class="mt-4">Dashboard</h1>


<p class="lead mb-3">Welcome {{posts.0.user.name}}</p>

<a href="/api/posts"><button id="new-post" type="button" class="btn btn-primary d-flex justify-content-center">New Post</button>
</a>


    {{#each posts as |post| }}
        {{> dashboard-data post}}
    {{/each}}

</article>


 
<script src="/js/script.js">