
{{> post-data-view post}}

<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">

        <label class="form-label">Comment</label>
        <input id="comment-body" name="comment-body" class="form-input" />

        <button type="submit" id="comment-btn" class="btn btn-primary">Submit</button>
        
    </form>
</div>


{{> comment post.comments}}

<script src="/js/new-comment.js"></script>